*{
box-sizing: border-box;
}
html{
font-size: 10px;
}
body{

margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
font-size: 1.6rem;
background-color: #e5eeee;
}
.outline--none{
outline: none;
}
.poiner{
cursor: pointer;
}
.overlay {
height: 100%;
width: 100%;
top: 0;
left: 0;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.wrapper {
background: url("../img/background.jpg");
background-size: cover;
background-repeat: no-repeat;
position: relative;
box-shadow: 0px 15px 13px -9px #111; 
}

.wrapper::before{
content: "";
display: block;
background-image: linear-gradient(58deg, rgba(48,35,174,.8) , rgba(200,109,215,.8)); 
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%; 
}
.content { 
max-width: 400px;
padding: 50px 70px;
position: relative;

}
input[name="tab"],
input[name="keep-sign"]{
display: none;
}
.singnIn-form,
.joinUs-form{
display: none;
}
#tab-signIn:checked ~ .tabs > #tab-one,
#tab-joinUs:checked ~ .tabs > #tab-two{
color: #fff;
border-bottom: 2px solid #e66a64;
}
#tab-signIn:checked ~ .singnIn-form,
#tab-joinUs:checked ~ .joinUs-form{
display: block;
}
.tabs{
padding-bottom: 50px;
}
.tabs__label{
margin-right: 25px;
color: rgba(255, 255, 255, .6);
}

.field{
padding: 0 0 20px 0;
color:#fff;


}
.field__input{
display: inline-block;
width: 100%;
padding: 10px ;
margin: 10px 0 0 0;
background: transparent;
border: solid 2px rgba(191,185,204,.54);
font-family: 'Quicksand', sans-serif;
font-weight: 700;
color: #fff;
}
.field__title--primary{
display: flex;
align-items: center;
font-size: 1.3rem;
}

.field__title-check{
display: flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
background-color: #23ae92;
margin: 0 7px 0 0;
font-size: 0;
}
#keep-sign:checked ~ .field__title> .field__title-check{
font-size: 1rem;
}
.btn{
border: 0;
}
.btn--primary{
margin: 20px 0 30px 0;
padding: 10px;
display: inline-block;
width: 100%;
font-size: 1.8rem;
color: #fff;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
background-color: #23ae92;
}
.field--primary{
display: flex;
justify-content: space-between;
width: 260px;
}
.field__links{
text-decoration: none;
color: #fff;
font-weight: normal;
font-size: 1.3rem;
position: relative;
color:rgba(255, 255, 255, .6)
}
.field__links:after{
content: "";
position: absolute;
display: block;
height:2px;
width: 100%;
background-color: #23ae92;
bottom: -5px;
transition: opacity .2s ease-in-out , transform .3s ease;
}
.field__links--first:hover,
.field__links--second:hover{
color: #fff;
transition: color .2s ease-in-out;
}
.field--primary:hover .field__links:not(:hover)::after{
transform: translateY(10px);
opacity: 0;
}

.field--bubble{
position: relative;
}
.field__invalid{
position: absolute;
top: 0;
right: -30px;
visibility: hidden;
}
.field__input:invalid+.field__invalid {
visibility: visible;
}
.field__input:not(:focus)+.field__invalid {
visibility: hidden;
} 

.field__input:focus{
border-color: #e66a64;
}
.field__input:valid{
border-color: green;
}
.speech-bubble{
position: relative;
background: #00aabb;
border-radius: .4em;
padding: 5px;
font-size: 1rem;
}
.speech-bubble:after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
height: 0;
border: 20px solid transparent;
border-top-color: #00aabb;
border-bottom: 0;
border-left: 0;
margin-left: -10px;
margin-bottom: -20px;
}
